@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

:root {
  --green: #399245;
}

body {
  background-color: #000;
  font-family: 'Inconsolata', 'consolas';
  display: flex;
  flex-direction: column;   /* aligns items vertically */
  align-items: center;      /* centers items in the middle of a column */
  justify-content: center;  /* aligns items horizontally */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  color: var(--green);
  word-wrap: break-word;
  width: 10px;
  position: absolute;
  top: 150px;
  left: 400px;
  opacity: .5;
  animation: fade 5s linear, glow 5s ease-in-out;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: .5 }
}

@keyframes glow {
  from { 
    text-shadow: 0 0 20px #fff, 0 0 40px var(--green), 0 0 60px var(--green), 0 0 70px var(--green);
  } to {
    text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff;
  }
}