@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

body {
  background-color: #000;
  font-family: 'Inconsolata', 'consolas';
  display: flex;
  flex-direction: column;   /* aligns items vertically */
  align-items: center;      /* centers items in the middle of a column */
  justify-content: center;  /* aligns items horizontally */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  color: #399245;
  word-wrap: break-word;
  width: 10px;
  position: absolute;
  top: 150px;
  left: 400px;
  opacity: .5;
  animation: fade 5s linear;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: .5 }
}